<h1>Listing forecasts</h1>
<p>The current weather in Seattle is: <%= @temp_in_seattle %> degrees</p>
<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Location</th>
      <th>Temp</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @forecasts.each do |forecast| %>
      <tr>
        <td><%= forecast.state %></td>
        <td><%= forecast.location %></td>
        <td><%= forecast.temp %></td>
        <td><%= link_to 'Show', forecast %></td>
        <td><%= link_to 'Edit', edit_forecast_path(forecast) %></td>
        <td><%= link_to 'Destroy', forecast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forecast', new_forecast_path %>
